* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-custom {
    background-color: #6FB2ED;
  }
#btnIngresar{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF904DED;
    margin: 10px;
}  
#btnCrear{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF904DED;
    margin: 10px;
}
.articuloVideo {
    position: relative;
    width: 99vw;
    height: 900px;
    overflow: hidden;
  }

  #videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover; /* Para que el video se ajuste al tamaño del div */
    z-index: -1; /* Coloca el video detrás del contenido */
  }
  #articuloUno{

    width: 450px;
    height: 600px;
    margin: 15px;
  }
  #logoArticuloUno{
    width: 400px;
  }
  .articuloVideo{
    color: #060640;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .textoGrandeArticulos{
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #linkBtnPrueba{
    text-decoration: none;
    cursor: pointer;
  }