* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-custom {
    background-color: #6FB2ED;
  }
#btnIngresar{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF904DED;
    margin: 10px;
}  
#btnCrear{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF904DED;
    margin: 10px;
}
.imagenCarousel{
  width: 100%;
  height: 600px;
  
}
/* propuesta video todo el codigo de abajo hasta finalizar comentario  */

/* .articuloVideo {
    position: relative;
    width: 99vw;
    height: 900px;
    overflow: hidden;
  } */

  /* #videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover; 
    z-index: -1; 
  } */
/* 
  #articuloUno{
    width: 450px;
    height: 600px;
    margin: 15px;
  } */
  
  /* #logoArticuloUno{
    width: 400px;
  } */
  
  /* .articuloVideo{
    color: #060640;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  } */
/*   
  .textoGrandeArticulos{
    color: #060640;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  } */
/*   
  #linkBtnPrueba{
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    color: black;
    background-color: #FF904D;
    width: 380px;
    border-radius: 10px;
  } */
/*   
  #contactaAsesor{
    text-decoration: none;
    font-size: 18px;
    color: black;
  } */